* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
a {
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #2E4F4F;
    position: fixed;
    border-bottom: 3px solid rgb(15, 15, 15);
    width: 100%;
    box-shadow: 0 20px 25px -20px;
    z-index: 3;
}
.ul_nav {
    display: flex;
}
.menu_1 {
    display: flex;
    text-decoration: none;
}
.menu  {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 0px 25px;
    line-height: 65px;
}
.menu:hover {
    cursor: pointer;
    background-color: rgb(11, 65, 22);
    border-radius: 3px;
    padding: auto;
    transition: all .3s ease-in-out;
}
.logo {
    list-style: none;
    color: white;
    text-decoration: none;
    font-size: 40px;
    padding: 20 50px;
    line-height: 50px;
}
nav ul li {
    list-style: none;
    line-height: 25px;
    color: white;
    margin: 15px;
}
nav ul li:hover {
    cursor: pointer;
    background-color: rgb(11, 65, 22);
    padding: 6px 10px;
    transition: 0.5s;
}

#user {
    font-size: xx-large;
    list-style: none;
    color: white;
    padding: 10px 20px;
}
#user:hover {
    cursor: pointer;
    background-color: rgb(11, 65, 22);
    border-radius: 3px;
    transition: 0.5s;
    
}
.user_1 {
    display: flex;
}

#iniciar_sesion {
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 14px 10px;
}
#iniciar_sesion:hover {
    cursor: pointer;
    text-decoration: underline solid 3px white;
}


.tienda {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    list-style: none;
    padding: 10px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height: 200px;
    background-color: seagreen;
}
.caja {
    padding: 120px;
    background-color: rgb(87, 177, 147);
    border-bottom: 3px solid black;
    display: flex;
    justify-content: center;
}
.zapatilla {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}
.zapatilla_img {
    padding: 20px;
    height: 400px;
    opacity: 1;
    background-color: rgb(87, 177, 147);
    animation: float 4s linear infinite;
}
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}
.offert {
    list-style: none;
    font-size: 50px;
}
.grid {
    display: flex;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 120px 120px;
    grid-column-gap: 125px;
    grid-row-gap: 100px;
    justify-content: center;
    padding: 100px;
}
.img {
    height: 120px;
    width: 150px;
    display: flex;
    flex-grow: 1;
    object-fit: over;
    transition: .5s ease;
    opacity: .6;
}
.img:hover {
    display: flex;
    cursor: crosshair;
    width: 260px;
    height: 200px;
    filter: contrast(120%);
    transition: 0.5s;
    opacity: 1;
}
.quienes_somos {
    background-color: seagreen;
    line-height: 120px;
}

.titulo_4 {
    display: flex;
    justify-content: center;
}
.box_quienes_somos {
    background-color: aliceblue;
    padding: 100px;
    display: flex;
    justify-content: center;
}
.img_2 {
    width: 300px;
    height: auto;
    padding: 10px 30px ;
} 

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #2E4F4F;
    padding: 70px 0;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 200x;
    padding: 0 20px;
}
.footer-links h4{
    font-size: 20px;   
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 25px;
    border-bottom: 2px solid #00ff00;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: rgb(252, 251, 251);
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover{
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
}
.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: rgb(5, 11, 14);
    transition: all .5s ease;
}
.social-link a:hover{
    background-color: rgb(17, 216, 93);
}

.li_footer{
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s ease; 
}

.li_footer:hover{
    color: #05f8bb;
}


@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
        
    }
}



